.App {
  text-align: center;
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.flex-row {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav img {
  width: 100px;
  margin: 50px;
}
.landing {
  height: 400px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  color: white;
}
.center {
  align-items: center;
  background-color: white;
  color: #282c34;
}
.landing button {
  padding: 20px;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border: 2px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
